.quality{
    font-size: 18pt;
    color: blueviolet;
}

.waveAsHumanHeight{
    font-size: 18pt;
    color: blueviolet;
}

.windDirection{
    font-size: 18pt;
    color: blueviolet;
}

.windSpeed{
    font-size: 18pt;
    color: blueviolet;
}

.windGust{
    font-size: 18pt;
    color: blueviolet;
}

.tideType{
    font-size: 18pt;
    color: blueviolet;
}

.tideHeight{
    font-size: 18pt;
    color: blueviolet;
}

.tideTime{
    font-size: 18pt;
    color: blueviolet;
}

